celery==4.4.2
pony==0.7.11
cached-property==1.5.2
Sastrawi==1.0.1
beautifulsoup4===4.8.2
serialized-redis-interface==0.3.1
redis==3.3.11
python-decouple==3.3
requests~=2.22.0
bs4~=0.0.1
pytz~=2019.3
pymemcache~=3.4.0
numpy~=1.16.0